.form {
  background: white;
  border: 1px solid var(--grey);
  padding: 24px;
  border-radius: 4px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}