:root {
  --grey-lightest: #F8F9FC;
  --white: #ffffff;
  --grey: #c8d1dc;
  --dark-grey: #6b7785;
  --green: #72cc18;
  --red-dark: #f63135;
  --primary: #324FBE;
}

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background: var(--grey-lightest);
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
